.toggle{
    height: 40px;
    width: 80px;
    border-radius: 60px;
    border: 1px solid;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(aqua,skyblue);
    position: relative;
}
.modal{
    height: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
}
.toggle.night{
    background-image: linear-gradient(midnightblue, rebeccapurple);
   
}
.notch{
  width: 35px;
  height: 35px;
  background-color: yellow;
  border-radius: 50%;
  position:absolute;
  top: 2px;
  left: 4px;
  box-shadow: 0 0 5px yellow;
  z-index: 1;
  transition: all 0.5s;
}
.notch > .crater{
    background: burlywood ;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
}
.night>.notch {
  background: whitesmoke;
  box-shadow: 0 0  5px whitesmoke;
  transform: translate(35px, 0);
}
.shape{
    position: absolute;
    background-color: whitesmoke;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.shape.sm{
    width: 30px;
    height: 3px;
    top: 50%;
    left: 30%;
    z-index: 2;
}
.shape.md{
    width: 30px;
    height: 3px;
    top: 20%;
    left: 25%;
}
.shape.lg{
    width: 20px;
    height: 2px;
    top: 35%;
    left: 68%;
}
